<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867028698142-adj2ska6b32knaijeauvtobcigenvbr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867028698142-adj2ska6b32knaijeauvtobcigenvbr2</string>
	<key>API_KEY</key>
	<string>AIzaSyD1S6SEG1aZ5uKPTDy2kOkq_5tymoyv2og</string>
	<key>GCM_SENDER_ID</key>
	<string>867028698142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aspanin.LynaFM</string>
	<key>PROJECT_ID</key>
	<string>lynafm-37e78</string>
	<key>STORAGE_BUCKET</key>
	<string>lynafm-37e78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867028698142:ios:e37dde4c4ab2f530eb5a0f</string>
</dict>
</plist>